.myForm {
    box-shadow: 0px 0px 3px rgb(233, 231, 231);
    overflow: hidden;
    position: relative;
}

.myForm>img {
    width: 140px;
}

.form-control {
    border-right: 2px solid #003459 !important;
    border-left: 1px solid #ddd;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    border-radius: 0px;
}

.myBtn {
    background-color: #003459;
    color: white !important;
    padding: 10px 25px
}
.myBtn:hover{
    opacity: .8;
    transition: all 600ms;
}

.myForm::before {
    content: '';
    display: block;
    width: 10%;
    height: 30%;
    position: absolute;
    background: linear-gradient(45deg, #00171F, #00A8E8);
    opacity: 1;
    top: 0%;
    left: 0%;
    z-index: -1;
    clip-path: circle(48.3% at 8% 51%);
}

.myForm::after {
    content: '';
    display: block;
    width: 10%;
    height: 30%;
    position: absolute;
    background: linear-gradient(45deg, #00171F, #00A8E8);
    opacity: 1;
    bottom: 0%;
    right: 0%;
    z-index: -1;
    clip-path: circle(48.3% at 90% 100%);
}

.navsection img{
    width: 150px;
   
}
.navsection ul{
  text-align: right;
float: right;
direction: rtl;
}
.navsection a img{
  
  float: left;
  direction: ltr;
  }
.navsection .smallSize  ul li a{
  text-align: center;
}
.navsectionn {
	border-bottom: 1px solid rgba(255,255,255,0.2);
    border-radius: 0;
    margin-bottom: 0;
    padding: 20px 0;
	transition: all 0.4s ease-in-out 0s;
}

.navbar-light .navbar-nav .nav-link{
	color: #000!important;
    font-family: 'Raleway', sans-serif;
    font-size: 13px;
	font-weight: 600;

    text-transform: uppercase;
}
.nav-item{
	float: right !important;
}
.navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.active, 
.navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show > .nav-link {

	color: #007EA7 !important;

}
.navbar-light .navbar-nav .nav-link:hover{
	color: #007EA7 !important;
}
.smallSize  .navbar-nav .nav-link{
	color:cadetblue !important;
}
.background-darke{
	background: rgba(0,0,0,.8);
	transition: background 2s;
	border-bottom: 1px solid rgba(255,255,255,0.2);
}


.footersection{
    background:  #000;
    padding: 0 0 30px 0;
    color: #eee;
    font-size: 14px;
     color: white;
    
   }
   .footersection .links a{
     color: white;
   }
   .footersection .links a:hover{
    color: gray;
  }
   .footersection .social_ico li a:hover svg:not(:root).svg-inline--fa{
    color: #00171F;
  }
  .footersection .social_ico li a:hover  {
    background-color: #fff;
    color: #00171F;
    border: 1px solid gray
  }
  
  .footersection .firstfooter{
    background-color: #111;
  }
  .copyrights h5 , .copyrights h4{
    font-size: 12px;
  }
  .copyrights .win {
    color: #00A8E8;
    font-size: 16px
  }
  .secondheam{
    background-image: url(../IMG/164.jpg);
    background-attachment: fixed;
    background-size: cover;
    margin-top: 120px;
    box-shadow: 0 10000px rgba(0,0,0,0.75) inset;
    color: #fff;
  }
  h5 span{
    color: #fff;
  }
 
.social {
   
  margin: 10px 0px;
  padding-top: 25px;
  border-top: 1px solid #fafafa;
}
.social_ico li {
    display: inline-block;
}
 .social_ico li a {
    display: block;
    width: 40px;
    height: 40px;
   font-size: 22px;
    margin-right: 10px;
    margin-bottom: 15px;
    text-align: center;
    border: 1px solid #999999;
    color: #777777;
  
}
.social_ico li a svg:not(:root).svg-inline--fa {
    margin-top: 7px;
    font-size: 1.4em;
    color: #777777;
   
}
 .social_ico li a:hover svg:not(:root).svg-inline--fa{
    color: #ffffff;
}
 .social_ico li a:hover  {
    background-color: #00171F;
    color: #ffffff;
    border: 1px solid #00171F
}  














/*============================login form===============================*/
body{
	margin:0;
	color:#6a6f8c;
	background:#c8c8c8;
  font:600 16px/18px 'Open Sans',sans-serif;
  box-sizing: border-box;
}
.social-login{
  position:relative;
  float: left;
  width: 100%;
  height:auto;
  padding: 10px 0 15px 0;
  border-bottom: 1px solid #eee;
}
.social-login a{
  position:relative;
  float: left;
  width:calc(40% - 8px);
  text-decoration: none;
  color: #fff;
  border: 1px solid rgba(0,0,0,0.05);
  padding: 12px;
  border-radius: 2px;
  font-size: 12px;
  text-transform: uppercase;
  margin: 0 3%;
  text-align:center;
}
.social-login a i{
  position: relative;
  float: left;
  width: 25px;
  top: 2px;
}
.social-login a:first-child{
  background-color: #49639F;
  width: 40%
}
.social-login a:last-child{
  background-color: #DF4A32;
  width: 40%
}
*,:after,:before{box-sizing:border-box}
.clearfix:after,.clearfix:before{content:'';display:table}
.clearfix:after{clear:both;display:block}
a{color:inherit;text-decoration:none}

.login-wrap{
	width:100%;
	margin:auto;
	max-width:525px;
	min-height:670px;
	position:relative;
	background:url(https://raw.githubusercontent.com/khadkamhn/day-01-login-form/master/img/bg.jpg) no-repeat center;
  box-shadow:0 12px 15px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19);
  border-radius: 20px;
 
}
.login-html{
	width:100%;
	height:100%;
	position:absolute;
	padding:90px 70px 50px 70px;
  background:rgba(40,57,101,.9);
  border-radius: 20px;
}
.login-html .sign-in-htm,
.login-html .sign-up-htm{
	top:0;
	left:0;
	right:0;
	bottom:0;
	position:absolute;
	transform:rotateY(180deg);
	backface-visibility:hidden;
	transition:all .4s linear;
}
.login-html .sign-in,
.login-html .sign-up,
.login-form .group .check{
	display:none;
}
.login-html .tab,
.login-form .group .label,
.login-form .group .button{
	text-transform:uppercase;
}
.login-html .tab{
	font-size:22px;
	margin-right:15px;
	padding-bottom:5px;
	margin:0 15px 10px 0;
	display:inline-block;
	border-bottom:2px solid transparent;
}
.login-html .sign-in:checked + .tab,
.login-html .sign-up:checked + .tab{
	color:#fff;
	border-color:#1161ee;
}
.login-form{
	min-height:345px;
	position:relative;
	perspective:1000px;
	transform-style:preserve-3d;
}
.login-form .group{
	margin-bottom:15px;
}
.login-form .group .label,
.login-form .group .input,
.login-form .group .button{
	width:100%;
	color:#fff;
	display:block;
}
.login-form .group .input,
.login-form .group .button{
	border:none;
	padding:15px 20px;
	border-radius:25px;
	background:rgba(255,255,255,.1);
}
.login-form .group input[data-type="password"]{
	text-security:circle;
	-webkit-text-security:circle;
}
.login-form .group .label{
	color:#aaa;
	font-size:14px;
}
.login-form .group .button{
	background:#1161ee;
}
.login-form .group label .icon{
	width:15px;
	height:15px;
	border-radius:2px;
	position:relative;
	display:inline-block;
	background:rgba(255,255,255,.1);
}
.login-form .group label .icon:before,
.login-form .group label .icon:after{
	content:'';
	width:10px;
	height:2px;
	background:#fff;
	position:absolute;
	transition:all .2s ease-in-out 0s;
}
.login-form .group label .icon:before{
	left:3px;
	width:5px;
	bottom:6px;
	transform:scale(0) rotate(0);
}
.login-form .group label .icon:after{
	top:6px;
	right:0;
	transform:scale(0) rotate(0);
}
.login-form .group .check:checked + label{
	color:#fff;
}
.login-form .group .check:checked + label .icon{
	background:#1161ee;
}
.login-form .group .check:checked + label .icon:before{
	transform:scale(1) rotate(45deg);
}
.login-form .group .check:checked + label .icon:after{
	transform:scale(1) rotate(-45deg);
}
.login-html .sign-in:checked + .tab + .sign-up + .tab + .login-form .sign-in-htm{
	transform:rotate(0);
}
.login-html .sign-up:checked + .tab + .login-form .sign-up-htm{
	transform:rotate(0);
}

.hr{
	height:2px;
	margin:60px 0 20px 0;
	background:rgba(255,255,255,.2);
}
.foot-lnk{
	text-align:center;
}
/*background color*/

body {
	margin: 0;
	width: 100%;
	height: 100vh;
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradientBG 15s ease infinite;
}

@keyframes gradientBG {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


